# 选取rawcounts矩阵以及计算RPKM进行筛选
https://github.com/reneshbedre/bioinfokit

!pip install bioinfokit

!pip install openpyxl

In [27]:
# !pip install bioinfokit
# !pip install openpyxl

In [33]:
import pandas as pd
from bioinfokit.analys import norm

In [34]:
ordered_bam_labels = [
    'Geneid', 'Length',
    'LI-rep1', 'LI-rep2',
    'mLN-rep1', 'mLN-rep2',
    'pLN-rep1', 'pLN-rep2',
    'SI-rep1', 'SI-rep2',
    'spleen-rep1', 'spleen-rep2'
]

In [35]:
fc_file = '../featureCounts/all_feature.txt'
df = pd.read_csv(fc_file, header=1, sep='\t')
df_geneid = df.iloc[:, 0:1]
# 1,2,3,4列是基因坐标，下游分析不需要，如有需要回来再找
df_counts = df.iloc[:, 5:]
df_merge = pd.concat([df_geneid, df_counts], axis=1)
df_merge.head(2)

,Geneid,Length,../bam/LI-rep1_Aligned_sort_rmdup.bam,../bam/LI-rep2_Aligned_sort_rmdup.bam,../bam/mLN-rep1_Aligned_sort_rmdup.bam,../bam/mLN-rep2_Aligned_sort_rmdup.bam,../bam/pLN-rep1_Aligned_sort_rmdup.bam,../bam/pLN-rep2_Aligned_sort_rmdup.bam,../bam/SI-rep1_Aligned_sort_rmdup.bam,../bam/SI-rep2_Aligned_sort_rmdup.bam,../bam/spleen-rep1_Aligned_sort_rmdup.bam,../bam/spleen-rep2_Aligned_sort_rmdup.bam
0,Xkr4,3634,32,40,31,33,18,17,24,26,0,29
1,Rp1,12293,90,141,124,89,56,60,142,117,0,100

In [36]:
# df = df.copy()
df_merge.columns=ordered_bam_labels
df_merge.set_index('Geneid', inplace=True)
df_merge.head(2)

,Length,LI-rep1,LI-rep2,mLN-rep1,mLN-rep2,pLN-rep1,pLN-rep2,SI-rep1,SI-rep2,spleen-rep1,spleen-rep2
Geneid,,,,,,,,,,,
Xkr4,3634,32,40,31,33,18,17,24,26,0,29
Rp1,12293,90,141,124,89,56,60,142,117,0,100

In [38]:
# now, normalize raw counts using RPKM method
# gene length must be in bp
nm = norm()
nm.rpkm(df=df_merge, gl='Length')
# get RPKM normalized dataframe
df_rpkm = nm.rpkm_norm
df_rpkm.head(2)

,LI-rep1,LI-rep2,mLN-rep1,mLN-rep2,pLN-rep1,pLN-rep2,SI-rep1,SI-rep2,spleen-rep1,spleen-rep2
Geneid,,,,,,,,,,
Xkr4,11.836652,4.751964,14.615606,19.668831,8.828403,7.084624,18.182024,19.924005,0.0,12.188404
Rp1,9.841209,4.951757,17.282393,15.681285,8.119414,7.391731,31.801409,26.504292,0.0,12.424414

In [39]:
# save rpkm
df_rpkm.to_csv('../featureCounts/all_feature_rpkm.csv', index=None)
# save raw_counts
df_merge.to_csv('../featureCounts/all_raw_counts.csv', index=None)

In [40]:
# 按照 RPKM 每个 Gene 的均值大于 1 的条件过滤基因
print(df_rpkm.shape[0])

flt = df_rpkm.sum(axis=1) /df_rpkm.shape[1] >= 1

26214

In [41]:
df_flt_rawcounts = df_merge[flt].copy()
df_flt_rawcounts.reset_index(inplace=True)
df_flt_rawcounts

,Geneid,Length,LI-rep1,LI-rep2,mLN-rep1,mLN-rep2,pLN-rep1,pLN-rep2,SI-rep1,SI-rep2,spleen-rep1,spleen-rep2
0,Xkr4,3634,32,40,31,33,18,17,24,26,0,29
1,Rp1,12293,90,141,124,89,56,60,142,117,0,100
2,Sox17,4095,5,9,3,2,1,3,2,2,0,4
3,Mrpl15,4201,39,40,56,36,33,53,28,44,0,39
4,Lypla1,2503,38,269,13,14,10,8,10,15,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...
24747,Prdx3,1445,11,19,16,21,8,26,8,7,0,8
24748,Grk5,3167,25,17,29,16,11,14,22,19,0,20
24749,Zfp950,10561,99,628,105,61,480,48,82,69,0,86
24750,Gm7102,1624,15,17,6,9,7,6,2,3,0,10
24751,Csf2ra,1849,17,26,5,14,17,12,7,3,0,17

In [42]:
df_flt_rawcounts.drop('Length', axis=1, inplace=True)

In [44]:
df_flt_rawcounts

,Geneid,LI-rep1,LI-rep2,mLN-rep1,mLN-rep2,pLN-rep1,pLN-rep2,SI-rep1,SI-rep2,spleen-rep1,spleen-rep2
0,Xkr4,32,40,31,33,18,17,24,26,0,29
1,Rp1,90,141,124,89,56,60,142,117,0,100
2,Sox17,5,9,3,2,1,3,2,2,0,4
3,Mrpl15,39,40,56,36,33,53,28,44,0,39
4,Lypla1,38,269,13,14,10,8,10,15,0,10
...,...,...,...,...,...,...,...,...,...,...,...
24747,Prdx3,11,19,16,21,8,26,8,7,0,8
24748,Grk5,25,17,29,16,11,14,22,19,0,20
24749,Zfp950,99,628,105,61,480,48,82,69,0,86
24750,Gm7102,15,17,6,9,7,6,2,3,0,10
24751,Csf2ra,17,26,5,14,17,12,7,3,0,17

In [50]:
df_flt_rawcounts.Geneid.duplicated().sum()

0

In [51]:
# 过滤后的raw counts进入DESeq2处理
df_flt_rawcounts.to_csv(fc_file.replace('.txt', '_fix.csv'), index=None, sep=',')